
.services {
  padding-bottom: 94px;

  .services-title {
      margin-bottom: 55px;
      font-size: var(--subtitle-font-size);
      font-weight: 700;
      line-height: 1.2;
      letter-spacing: 0.03em;
      text-align: center;
      color: var(--subtitle-color);
    }
  .services-container {
      display: flex;
      flex-wrap: wrap;
      gap: 30px;
    }
  .services-item {
      flex-basis: calc((100% - 60px) / 3);
    }
}


.services-item-relative {
  position: relative;
  
  .services-image {
    width: 370px;
  }
  .services-text {
    background: rgba(47, 48, 58, 0.8);
    color: var(--white-color);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    padding: 27px 100px 27px 101px;
    font-size: var(--text-font-size);
    font-weight: 700;
    letter-spacing: 0.03em;
    line-height: 1.1;
  }
  
  .services-text--desktop {
    padding: 27px 78px;
    width: 369px;
  }
  .services-text--desing {
    width: 369px;
    padding: 27px 101px;
  }
}


@media (max-width:480px) {
  .services {
    display: none;
  }
}

@media (width=768px) {
  .services {
    display: none;
  }
}

